@charset "utf-8";

/* Tiêu đề menu */
.menu > div {
  width: 150px;
  height: 32px;
  background: -webkit-linear-gradient(top, #333, #999, #000);
  background: -o-linear-gradient(top, #333, #999, #000);
  background: -ms-linear-gradient(top, #333, #999, #000);
  background: -moz-linear-gradient(top, #333, #999, #000);
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  text-transform: uppercase;
}

/* Danh sách menu */
.menu ul {
  list-style: inside url(../img/bullet.png);
  box-shadow: 5px 5px 10px #a63636;
  border: 1px solid #000;
  width: 148px;
  margin: 0;
  padding: 5;
}

/* Các mục trong menu */
.menu li {
  padding: 5px;
  width: 138px;
  cursor: pointer;
  text-transform: capitalize;
}

/* Hiệu ứng khi hover */
.menu li:hover {
  background-color: #ff9;
  font-weight: bold;
  color: #f00;
}